.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.name {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    color: #D5C8BD;
}

.character {
    font-size: 15px;
    line-height: 1.5;
}